<div class="well text-center">
  <form class="form-inline">
    <%= form_tag jobs_path do %>
      <%= text_field_tag 'search', nil, size: 50, class:'form-control' %>
      <%= submit_tag 'Search', class:"btn btn-default" %>
    <% end %>
  </form>
</div>