<div class="well text-center">
  <form class="form-inline">
    <%= text_field_tag 'search', nil, size: 50, class:'form-control' %>
    <%= button_tag 'Search', class:"btn btn-default" %>
  </form>
</div>