<%= image_tag 'banner', class:"img-responsive" %>
<div class="text-center">Total: 1000</div><hr>
<%= render 'shared/search' %><hr>

<div class="panel panel-info">
  <div class="panel-heading"><h3>Latest Jobs</h3></div>
  <div class="clearfix">
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div><hr>
    <div class="panel-body">
      <div class="pull-left">
        <h4>Job: ABC</h4>
        <p>Company name: xxxxxxxxxxxxxxx</p>
      </div>
      <div class="pull-right">
        <p>1000USD</p>
        <p>HCM</p>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse_cities"><h3>Top Cities</h3></a>
    </h4>
  </div>
  <div id="collapse_cities" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="row">
        <li class="col-md-4 thumbnail">Ho Chi Minh (1000)</li>
        <li class="col-md-4 thumbnail">Ho Chi Minh (1000)</li>
        <li class="col-md-4 thumbnail">Ho Chi Minh (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-4 thumbnail">Ha Noi (1000)</li>
        <li class="col-md-4 thumbnail">Ha Noi (1000)</li>
        <li class="col-md-4 thumbnail">Ha Noi (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-4 thumbnail">Da Nang (1000)</li>
        <li class="col-md-4 thumbnail">Da Nang (1000)</li>
        <li class="col-md-4 thumbnail">Da Nang (1000)</li>
      </ul>

      <div class="pull-right">
        <a href="#">More...</a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a data-toggle="collapse" href="#collapse_industries"><h3>Top Industries</h3></a>
    </h4>
  </div>
  <div id="collapse_industries" class="panel-collapse collapse">
    <div class="panel-body">
      <ul class="row">
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
        <li class="col-md-4 thumbnail">CNTT - Phần mềm (1000)</li>
      </ul>

      <div class="pull-right">
        <a href="#">More...</a>
      </div>
    </div>
  </div>
</div>
