<div class="panel panel-info">
  <div class="panel-heading"><h3>Industry List</h3></div>
  <div class="panel-body">
    <div class="row">
      <% @industries.each do |i| %>
        <div class="col-md-4 col-sm-6">
          <%= i.name %> ( <%= i.jobs_count %> )
        </div>
      <% end %>
    </div>
  </div>
</div>