<div class="panel panel-info">
  <div class="panel-heading"><h3>City list</h3></div>
  <div class="panel-body text-center">
    <div class="row">
      <div class="dropdown col-md-4 col-xs-4">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
      <div class="dropdown col-md-4 col-xs-4">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Dropdown
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h3>Vietnam</h3></div>
  <div class="panel-body">
    <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Ho Chi Minh (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ho Chi Minh (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ho Chi Minh (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ho Chi Minh (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Ha Noi (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ha Noi (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ha Noi (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ha Noi (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Da Nang (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Da Nang (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Da Nang (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Ha Noi (1000)</li>
      </ul>
  </div>
</div>

<div class="panel panel-info">
  <div class="panel-heading"><h3>International</h3></div>
  <div class="panel-body">
    <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
      </ul>
      <ul class="row">
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
        <li class="col-md-3 col-xs-6 thumbnail">Tokyo (1000)</li>
      </ul>
  </div>
</div>